<header class="navbar">
  <section class="navbar-section">
      <a routerLink="/search" class="btn btn-link">Search</a>
    <a routerLink="/dashboard" class="btn btn-link">Dashboard</a>
    <a routerLink="/heroes" class="btn btn-link">Heroes</a>
  </section>
  <section class="navbar-center">
    <!-- centered logo or brand -->
  </section>
  <section class="navbar-section">
    <a href="#" class="btn btn-link">Twitter</a>
    <a href="#" class="btn btn-link">GitHub</a>
  </section>
</header>


<h1>{{title}}</h1>
<router-outlet></router-outlet>
<app-messages></app-messages>